$branco-puro: #ffffff;
$branco-gelo: #fcfcfc;
$preto: #222121;
$cinza-contorno: #464646;
$cinza-claro: #f0f0f0;

$amarelo-5: #281f00;
$amarelo-4: #534100;
$amarelo-3: #7e6200;
$amarelo-2: #a98400;
$amarelo-1: #d4a500;
$amarelo-0: #ffc700;
$amarelo-1-claro: #ffd02b;
$amarelo-2-claro: #ffda56;
$amarelo-3-claro: #ffe381;
$amarelo-4-claro: #ffedac;
$amarelo-5-claro: #fff6d7;

$laranja-5: #281003;
$laranja-4: #532107;
$laranja-3: #7e320a;
$laranja-2: #a9430d;
$laranja-1: #d45411;
$laranja-0: #ff6514;
$laranja-1-claro: #ff7f3c;
$laranja-2-claro: #ff9963;
$laranja-3-claro: #ffb38b;
$laranja-4-claro: #ffcdb3;
$laranja-5-claro: #ffe7da;

//Typography

$font-family-gantari: 'Gantari', sans-serif;

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Letter Spacing
$letter-spacing: -0.02em;

// Display
$display-40-font-size: 76px;
$display-30-font-size: 56px;
$display-20-font-size: 44px;
$display-10-font-size: 32px;

// Cabeçalho
$cabecalho-80-font-size: 88px;
$cabecalho-70-font-size: 64px;
$cabecalho-60-font-size: 48px;
$cabecalho-50-font-size: 36px;
$cabecalho-40-font-size: 28px;
$cabecalho-30-font-size: 20px;
$cabecalho-20-font-size: 16px;
$cabecalho-10-font-size: 12px;

// Linha
$linha-40-font-size: 24px;
$linha-30-font-size: 20px;
$linha-20-font-size: 16px;
$linha-10-font-size: 12px;

// Parágrafo
$paragrafo-40-font-size: 24px;
$paragrafo-30-font-size: 20px;
$paragrafo-20-font-size: 16px;
$paragrafo-10-font-size: 12px;

// Botão
$botao-40-font-size: 20px;
$botao-30-font-size: 20px;
$botao-20-font-size: 16px;
$botao-10-font-size: 12px;

// Line Heights
$line-height-100: 100%;
$line-height-130: 130%;
